<div
      class="hero page-inner overlay"
      style="background-image: url(
              {% for pic in font_pic %}
                {% if forloop.last %}
                    {{ pic.photo.url }}
                {% endif %}
              {% endfor %}
              )"
    >
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-9 text-center mt-5">
            <h1 class="heading" data-aos="fade-up">
              {{ property_.name }}
            </h1>

            <nav
              aria-label="breadcrumb"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <ol class="breadcrumb text-center justify-content-center">
                <li class="breadcrumb-item"><a href="{% url 'main_page:main_page_view' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'properties_menu_page:menu_page' %}">Properties</a></li>
                <li
                  class="breadcrumb-item active text-white-50"
                  aria-current="page"
                >
                  {{ property_.name }}
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-7">
            <div class="img-property-slide-wrap">
              <div class="img-property-slide">
                  {% for pic in photo %}
                      <img src="{{ pic.photo.url }}" alt="" class="img-fluid" />
                  {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <h2 class="heading text-primary">{{ property_.name }}</h2>
            <p class="meta">{{ property_.location_address }}, {{ property_.country }}</p>
            <p class="text-black-50">
              {{ property_.description | safe }}
            </p>

            <div class="d-block agent-box p-5">
              <div class="img mb-4">
                <img
                  src="{{ realtor.photo.url }}"
                  alt="Image"
                  class="img-fluid"
                />
              </div>
              <div class="text">
                <h3 class="mb-0">{{ realtor.name }}</h3>
                <div class="meta mb-3">{{ realtor.position }}</div>
                <p>
                  {{ realtor.short_about }}
                </p>
                <ul class="list-unstyled social dark-hover d-flex">
                    {% if realtor.instagram_link %}
                  <li class="me-1">
                    <a href="{{ realtor.instagram_link }}"><span class="icon-instagram"></span></a>
                  </li>
                    {% endif %}
                    {% if realtor.twitter_link %}
                  <li class="me-1">
                    <a href="{{ realtor.twitter_link }}"><span class="icon-twitter"></span></a>
                  </li>
                    {% endif %}
                    {% if realtor.facebook_link %}
                  <li class="me-1">
                    <a href="{{ realtor.facebook_link }}"><span class="icon-facebook"></span></a>
                  </li>
                    {% endif %}
                    {% if realtor.linkedin_link %}
                  <li class="me-1">
                    <a href="{{ realtor.linkedin_link }}"><span class="icon-linkedin"></span></a>
                  </li>
                    {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
