{% extends 'login_page.html' %}

{% block content %}
<div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
            <form method="post" role="form">
                {% csrf_token %}
              <p><div class="row">
                <div class="col-6 mb-3">
                    {{ form.username }}
                </div></p>
                <p>
                <div class="col-6 mb-3">
                  {{ form.password }}
                </div>

                <div class="col-12">
                  <input
                    type="submit"
                    value="Login"
                    class="btn btn-primary"
                  />
                </div>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- /.untree_co-section -->
{% endblock %}