{% extends 'index.html' %}

{% block content %}

    <!-- ======= Hero ======= -->
    {% include 'hero.html' %}
    <!-- ======= End Hero ======= -->


    <!-- ======= Popular properties ======= -->
    {% include 'popular_properties.html' %}
    <!-- ======= End Popular properties ======= -->

     <!-- ======= Our Benefits ======= -->
    {% include 'our_benefits.html' %}
    <!-- ======= Our Benefits ======= -->

    <!-- ======= Customer Says ======= -->
    {% include 'customer_says.html' %}
    <!-- ======= End Customer Says ======= -->


    <!-- ======= Our agents ======= -->
    {% include 'our_agents.html' %}
    <!-- ======= End Our agents ======= -->

     <!-- ======= Give apply to us ======= -->
    {% include 'give_apply_to_us.html' %}
    <!-- ======= End Give apply to us ======= -->
{% endblock %}