{% extends 'top_bar_and_footer.html' %}
{% load static %}

    {% block head %}
      <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="author" content="Untree.co" />
        <link rel="shortcut icon" href={% static "favicon.png" %} />

        <meta name="description" content="" />
        <meta name="keywords" content="bootstrap, bootstrap5" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
          rel="stylesheet"
        />

        <link rel="stylesheet" href={% static "fonts/icomoon/style.css" %} />
        <link rel="stylesheet" href={% static "fonts/flaticon/font/flaticon.css" %} />

        <link rel="stylesheet" href={% static "css/tiny-slider.css" %} />
        <link rel="stylesheet" href={% static "css/aos.css" %} />
        <link rel="stylesheet" href={% static "css/style.css" %} />

        <title>
          Lux Property - Contact Us
        </title>
      </head>
    {% endblock %}

  <body>

    {% block hero %}
        <div
          class="hero page-inner overlay"
          {% for images in bg_photo %}
                {% if forloop.last %}
                    style="background-image: url({{ images.contact_bg.url }})"
                {% endif %}
          {% endfor %}
        >
          <div class="container">
            <div class="row justify-content-center align-items-center">
              <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">Contact Us</h1>

                <nav
                  aria-label="breadcrumb"
                  data-aos="fade-up"
                  data-aos-delay="200"
                >
                  <ol class="breadcrumb text-center justify-content-center">
                    <li class="breadcrumb-item"><a href="{% url 'main_page:main_page_view' %}">Home</a></li>
                    <li
                      class="breadcrumb-item active text-white-50"
                      aria-current="page"
                    >
                      Contact Us
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
    {% endblock %}

    {% block content %}
    {% endblock %}

  </body>
</html>
