{% extends 'about.html' %}

{% block content %}

    <!-- ======= Top info ======= -->
    {% include 'top_info.html' %}
    <!-- ======= End Top info ======= -->

    <!-- ======= First benefits block ======= -->
    {% include 'first_bnefits.html' %}
    <!-- ======= End First benefits block ======= -->

    <!-- ======= Second benefits block ======= -->
    {% include 'second_benefits.html' %}
    <!-- ======= End Second benefits block ======= -->

    <!-- ======= Photos and numbers block ======= -->
    {% include 'photos_and_numbers.html' %}
    <!-- ======= End Photos and numbers block ======= -->

    <!-- ======= Team members slider ======= -->
    {% include 'team_members.html' %}
    <!-- ======= End Team members slider ======= -->


{% endblock %}
