{% for data in first_benefits %}
{% if forloop.last %}
<div class="section pt-0">
      <div class="container">
        <div class="row justify-content-between mb-5">
          <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
            <div class="img-about dots">
              <img src="{{ data.image.url }}" alt="Image" class="img-fluid" />
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-home2"></span>
              </span>
              <div class="feature-text">
                <h3 class="heading">{{ data.house_point_header }}</h3>
                <p class="text-black-50">
                  {{ data.house_point_heading_text }}
                </p>
              </div>
            </div>

            <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-person"></span>
              </span>
              <div class="feature-text">
                <h3 class="heading">{{ data.agents_point_header }}</h3>
                <p class="text-black-50">
                  {{ data.agents_point_heading_text }}
                </p>
              </div>
            </div>

            <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-security"></span>
              </span>
              <div class="feature-text">
                <h3 class="heading">{{ data.safety_point_header }}</h3>
                <p class="text-black-50">
                  {{ data.safety_point_heading_text }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endif %}
{% endfor %}