
<div class="section sec-testimonials bg-light">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-6">
            <h2 class="font-weight-bold heading text-primary mb-4 mb-md-0">
              The Team
            </h2>
          </div>
          <div class="col-md-6 text-md-end">
            <div id="testimonial-nav">
              <span class="prev" data-controls="prev">Prev</span>

              <span class="next" data-controls="next">Next</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4"></div>
        </div>
        <div class="testimonial-slider-wrap">
          <div class="testimonial-slider">

              {% for data in team_members %}
                  <div class="item">
              <div class="testimonial">
                <img
                  src="{{ data.photo.url }}"
                  alt="Image"
                  class="img-fluid rounded-circle w-25 mb-4"
                />
                <h3 class="h5 text-primary">{{ data.name }}</h3>
                <p class="text-black-50">{{ data.position }}</p>

                <p>
                  {{ data.short_about }}
                </p>

                <ul class="social list-unstyled list-inline dark-hover">
                    {% if data.twitter_link %}
                    <li class="list-inline-item">
                    <a href="#"><span class="icon-twitter"></span></a>
                  </li>
                    {% endif %}
                    {% if data.facebook_link %}
                  <li class="list-inline-item">
                    <a href="#"><span class="icon-facebook"></span></a>
                  </li>
                    {% endif %}
                    {% if data.linkedin_link %}
                  <li class="list-inline-item">
                    <a href="#"><span class="icon-linkedin"></span></a>
                  </li>
                    {% endif %}
                    {% if data.instagram_link %}
                  <li class="list-inline-item">
                    <a href="#"><span class="icon-instagram"></span></a>
                  </li>
                    {% endif %}
                </ul>
              </div>
            </div>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>