{% extends 'contact.html' %}

{% block content %}


    <div class="section">
      <div class="container">
        <div class="row text-left mb-5">
          <div class="col-12">
            <h2 class="font-weight-bold heading text-primary mb-4">Thank you for your application, we will contact you. <p>
                Page will be automatically redirected to Main Page in 5 seconds.</p></h2>
              <p class="text-black-50">
              If redirect didn't happen click <a href="{% url 'main_page:main_page_view' %}">here</a>.
            </p>
          </div>
          <div class="col-lg-6">

          </shortly>
          </div>
          <div class="col-lg-6">
            {{ info.right_heading_text|safe }}
          </div>
        </div>
      </div>
</div>


<script>
       setTimeout(function(){
            window.location.href = '/';
         }, 5000);
   </script>
{% endblock %}